In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data_2010_2017.csv', sep=',', index_col=False)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0

In [5]:
df = df.drop(df[df['codigo_depto']=='TOTAL'].index)
df = df.drop(df[df['nombre_depto']=='TOTAL'].index)
df = df.drop(df[df['nombre_muni']=='TOTAL'].index)
df = df.drop(df[df['codigo_muni']=='TOTAL'].index)
df = df.drop(df[df['codigo_evento']=='TOTAL'].index)
df = df.drop(df[df['evento']=='TOTAL'].index)
df = df.drop(df[df['edad']=='TOTAL'].index)
df = df.drop(df[df['sexo']=='TOTAL'].index)

In [6]:
df.isna().sum()

anio             0
codigo_depto     0
nombre_depto     0
nombre_muni      0
codigo_muni      0
codigo_evento    0
evento           0
edad             0
sexo             0
num_casos        0
dtype: int64

In [7]:
df.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
1750,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0

In [8]:
df['sexo'].value_counts()

Hombres          255539
Mujeres          209009
Indeterminado        86
Name: sexo, dtype: int64

In [10]:
df.groupby(by='sexo')['num_casos'].sum()

sexo
Hombres          882382.0
Indeterminado        99.0
Mujeres          705439.0
Name: num_casos, dtype: float64

In [16]:
df.groupby(by='evento')['num_casos'].sum().sort_values()

evento
PARO CARDIACO                                                148.0
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS       168.0
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                 267.0
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO                  305.0
OTRAS ENF. DE LAS VIAS RESPIRATORIAS SUPERIORES              331.0
                                                            ...
INFECCIONES RESPIRATORIAS AGUDAS                           58854.0
ENF. CRONICAS VIAS REPIRATORIAS INFERIORES                 95221.0
AGRESIONES (HOMICIDIOS), INCLUSIVE SECUELAS               100943.0
ENFERMEDADES CEREBROVASCULARES                            109875.0
ENFERMEDADES ISQUEMICAS DEL CORAZON                       256804.0
Name: num_casos, Length: 72, dtype: float64

In [21]:
df.loc[df['sexo']=='Indeterminado']['evento'].value_counts()

AGRESIONES (HOMICIDIOS), INCLUSIVE SECUELAS                        31
SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS                        19
EVENTOS DE INTENCION NO DETERMINADA, INCL. SECUELAS                 7
OTRAS AFECC. ORIGINADAS EN PERIODO PERINATAL                        5
MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS CROMOSOMICAS           4
INTERVENCION LEGAL Y OPERAC. DE GUERRA, INCL. SECUELAS              4
ACC. TRANSPORTE TERRESTRE, INCLUSIVE SECUELAS                       3
TRAST. RESPIRATORIOS ESPECIFICOS DEL PERIODO PERINATAL              3
OTROS ACCIDENTES, INCLUSIVE SECUELAS                                2
FETO Y RECIEN N. AFECTADOS POR COMPL. OBST. Y TRAUM. NACIMIENTO     2
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS              1
ENFERMEDADES ISQUEMICAS DEL CORAZON                                 1
DEFICIENCIAS NUTRICIONALES Y ANEMIAS NUTRICIONALES                  1
AHOGAMIENTO Y SUMERSION ACCIDENTALES                                1
LESIONES AUTOINFLIGIDAS INTENC.(SUICIDIOS), INCL. SECUELAS          1
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                        1
Name: evento, dtype: int64

In [22]:
df.groupby(by='edad')['num_casos'].sum().sort_values()

edad
Edad desconocida      1647.0
De 100 y más          3868.0
De 1-4 años          12292.0
De 5-14 años         15894.0
Menor 1 año          58835.0
De 85-99 años       126621.0
De 15-44 años       232707.0
De 65-84 años       243131.0
De 45-64 años       307836.0
De 65 y más         585089.0
Name: num_casos, dtype: float64

In [23]:
df.groupby(by='nombre_depto')['num_casos'].sum().sort_values()

nombre_depto
Guainía                                        791.0
Vaupés                                         796.0
Vichada                                       1304.0
Amazonas                                      1507.0
Archipiélago de San Andrés y Providencia      1903.0
Guaviare                                      2078.0
Extranjeros                                   2655.0
Arauca                                        7597.0
Putumayo                                      7962.0
Casanare                                      9397.0
Chocó                                         9775.0
Caquetá                                      12987.0
La Guajira                                   13830.0
Sucre                                        23961.0
Quindío                                      26828.0
Cesar                                        28749.0
Meta                                         33229.0
Magdalena                                    36571.0
Huila                                        39584.0
Cauca                                        40272.0
Risaralda                                    41900.0
Caldas                                       44267.0
Córdoba                                      46514.0
Boyacá                                       48935.0
Nariño                                       49618.0
Norte de Santander                           50620.0
Bolívar                                      53125.0
Tolima                                       61090.0
Santander                                    76347.0
Atlántico                                    77816.0
Cundinamarca                                 89760.0
Valle del Cauca                             189091.0
Bogotá                                      228495.0
Antioquia                                   228566.0
Name: num_casos, dtype: float64