In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.read_csv('data/data_2010_2017.csv', sep=',', index_col=False)

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0

In [4]:
df = df.drop(df[df['codigo_depto']=='TOTAL'].index)
df = df.drop(df[df['nombre_depto']=='TOTAL'].index)
df = df.drop(df[df['nombre_muni']=='TOTAL'].index)
df = df.drop(df[df['codigo_muni']=='TOTAL'].index)
df = df.drop(df[df['codigo_evento']=='TOTAL'].index)
df = df.drop(df[df['evento']=='TOTAL'].index)
df = df.drop(df[df['edad']=='TOTAL'].index)
df = df.drop(df[df['sexo']=='TOTAL'].index)

In [5]:
df.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
1750,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464634 entries, 1750 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           464634 non-null  int64
 1   codigo_depto   464634 non-null  object
 2   nombre_depto   464634 non-null  object
 3   nombre_muni    464634 non-null  object
 4   codigo_muni    464634 non-null  object
 5   codigo_evento  464634 non-null  object
 6   evento         464634 non-null  object
 7   edad           464634 non-null  object
 8   sexo           464634 non-null  object
 9   num_casos      464634 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 55.1+ MB

In [7]:
df['codigo_depto'].value_counts()

05             55605
25             41758
76             32919
15             18155
73             16210
68             16083
52             14958
41             14752
19             14466
23             13828
13             10914
47             10427
15             10377
17             10332
68             10261
20              9418
08              9346
50              9018
54              8189
52              7300
5               6983
70              6729
13              6512
54              6363
66              6349
44              5932
73              5725
85              5625
27              5483
8               5228
86              5067
17              5001
63              4757
18              4754
19              4635
23              4146
70              4104
66              3908
81              3833
47              3067
20              3039
63              2807
11              2579
50              2503
41              1749
Extranjeros     1748
11              1600
18              1557
95              1383
44              1217
91              1135
99              1024
88               963
97               639
94               619
25               576
27               567
76               412
Name: codigo_depto, dtype: int64

In [8]:
df['anio'] = df['anio'].astype('int64')
df['codigo_depto'] = df['codigo_depto'].astype('string')
df['nombre_depto'] = df['nombre_depto'].astype('string')
df['nombre_muni'] = df['nombre_muni'].astype('string')
df['codigo_muni'] = df['codigo_muni'].astype('int64')
df['codigo_evento'] = df['codigo_evento'].astype('int64')
df['evento'] = df['evento'].astype('string')
df['sexo'] = df['sexo'].astype('string')
df['edad'] = df['edad'].astype('string')
df['num_casos'] = df['num_casos'].astype('int64')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464634 entries, 1750 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           464634 non-null  int64
 1   codigo_depto   464634 non-null  string
 2   nombre_depto   464634 non-null  string
 3   nombre_muni    464634 non-null  string
 4   codigo_muni    464634 non-null  int64
 5   codigo_evento  464634 non-null  int64
 6   evento         464634 non-null  string
 7   edad           464634 non-null  string
 8   sexo           464634 non-null  string
 9   num_casos      464634 non-null  int64
dtypes: int64(4), string(6)
memory usage: 55.1 MB

In [10]:
df.isna().sum()

anio             0
codigo_depto     0
nombre_depto     0
nombre_muni      0
codigo_muni      0
codigo_evento    0
evento           0
edad             0
sexo             0
num_casos        0
dtype: int64

In [11]:
df['sexo'].value_counts()

Hombres          255539
Mujeres          209009
Indeterminado        86
Name: sexo, dtype: Int64

In [12]:
df.groupby(by='sexo')['num_casos'].sum()

sexo
Hombres          882382
Indeterminado        99
Mujeres          705439
Name: num_casos, dtype: int64

In [13]:
df.groupby(by='evento')['num_casos'].sum().sort_values()

evento
PARO CARDIACO                                                148
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS       168
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                 267
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO                  305
OTRAS ENF. DE LAS VIAS RESPIRATORIAS SUPERIORES              331
                                                           ...
INFECCIONES RESPIRATORIAS AGUDAS                           58854
ENF. CRONICAS VIAS REPIRATORIAS INFERIORES                 95221
AGRESIONES (HOMICIDIOS), INCLUSIVE SECUELAS               100943
ENFERMEDADES CEREBROVASCULARES                            109875
ENFERMEDADES ISQUEMICAS DEL CORAZON                       256804
Name: num_casos, Length: 72, dtype: int64

In [14]:
df.loc[df['sexo']=='Indeterminado']['evento'].value_counts()

AGRESIONES (HOMICIDIOS), INCLUSIVE SECUELAS                        31
SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS                        19
EVENTOS DE INTENCION NO DETERMINADA, INCL. SECUELAS                 7
OTRAS AFECC. ORIGINADAS EN PERIODO PERINATAL                        5
MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS CROMOSOMICAS           4
INTERVENCION LEGAL Y OPERAC. DE GUERRA, INCL. SECUELAS              4
ACC. TRANSPORTE TERRESTRE, INCLUSIVE SECUELAS                       3
TRAST. RESPIRATORIOS ESPECIFICOS DEL PERIODO PERINATAL              3
FETO Y RECIEN N. AFECTADOS POR COMPL. OBST. Y TRAUM. NACIMIENTO     2
OTROS ACCIDENTES, INCLUSIVE SECUELAS                                2
AHOGAMIENTO Y SUMERSION ACCIDENTALES                                1
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS              1
LESIONES AUTOINFLIGIDAS INTENC.(SUICIDIOS), INCL. SECUELAS          1
ENFERMEDADES ISQUEMICAS DEL CORAZON                                 1
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                        1
DEFICIENCIAS NUTRICIONALES Y ANEMIAS NUTRICIONALES                  1
Name: evento, dtype: Int64

In [15]:
df.groupby(by='edad')['num_casos'].sum().sort_values()

edad
Edad desconocida      1647
De 100 y más          3868
De 1-4 años          12292
De 5-14 años         15894
Menor 1 año          58835
De 85-99 años       126621
De 15-44 años       232707
De 65-84 años       243131
De 45-64 años       307836
De 65 y más         585089
Name: num_casos, dtype: int64

In [16]:
df.groupby(by='nombre_depto')['num_casos'].sum().sort_values()

nombre_depto
Guainía                                        791
Vaupés                                         796
Vichada                                       1304
Amazonas                                      1507
Archipiélago de San Andrés y Providencia      1903
Guaviare                                      2078
Extranjeros                                   2655
Arauca                                        7597
Putumayo                                      7962
Casanare                                      9397
Chocó                                         9775
Caquetá                                      12987
La Guajira                                   13830
Sucre                                        23961
Quindío                                      26828
Cesar                                        28749
Meta                                         33229
Magdalena                                    36571
Huila                                        39584
Cauca                                        40272
Risaralda                                    41900
Caldas                                       44267
Córdoba                                      46514
Boyacá                                       48935
Nariño                                       49618
Norte de Santander                           50620
Bolívar                                      53125
Tolima                                       61090
Santander                                    76347
Atlántico                                    77816
Cundinamarca                                 89760
Valle del Cauca                             189091
Bogotá                                      228495
Antioquia                                   228566
Name: num_casos, dtype: int64

In [18]:
df.to_csv('data/pre_data_2010_2017.csv')

a